# Assignment 01

# Python Practice Problems

1.Write a Python Program to accept the details of a student like name, roll number
and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output:
Name: Anisha
Roll No: 21
Mark: 78

In [45]:
Name=input('Enter the name:')
Roll_No=input('Enter the roll number:')
Mark=input('Enter the mark:')
print(Name)
print(Roll_No)
print(Mark)

Enter the name:Name: Anjana C.A
Enter the roll number:Roll No : 8004
Enter the mark:Mark : 90
Name: Anjana C.A
Roll No : 8004
Mark : 90

2. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41
Sample output: Temperature in Celsius =5

In [46]:
f=int(input('Temperature in Fahrenheit = '))
print('Temperature in Celsius = ',((f-32)/9)*5)

Temperature in Fahrenheit = 50
Temperature in Celsius =  10.0

In [47]:
c=int(input('Temperature in Celsius = '))
print('Temperature in Fahrenheit = ',(c/5)*9+32)

Temperature in Celsius = 4
Temperature in Fahrenheit =  39.2

3. 1. Write a Python program to accept two numbers from the user and display its product.

In [4]:
a=int(input('Enter no1:'))
b=int(input('Enter no2:'))
print(a*b)

Enter no1:3
Enter no2:4
12

4. Write a Python program to accept a string “Learn Python by Developing a Website” and display the string like “Learn**Python** by Developing a **Website**”

In [38]:
a="Learn Python by Developing a Website"


b=a.split(" ")
b[1]="**"+b[1]+"**"
b[-1]="**"+b[-1]+"**"
b=''.join(b)


print(b)

Learn**Python**byDevelopinga**Website**

5.Write a Python program to accept the radius of a circle and display its area.

In [37]:
import math
r=int(input('enter the radius of circle:'))
print('area= ',math.pi*r*r)

enter the radius of circle:4
area=  50.26548245743669

6. Python program to insert a number to any position in a list (Get the number to
be inserted and position from the user)

In [2]:
l4=[4,3,8,10,98,34]
ins=int(input('enter the no to be inserted:'))
pos=int(input('enter the position:'))
l4.insert(pos,ins)

enter the no to be inserted:5
enter the position:2

In [3]:
l4

[4, 3, 5, 8, 10, 98, 34]

7. Write a program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [13]:
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [14]:
# rename key in dictionary
sample_dict['location'] = sample_dict.pop('city')

In [15]:
# display the dictionary
print(sample_dict)

{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

8. Write a Python program to change Brad’s salary to 8500 in the following
dictionary.
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

In [16]:
sample_dict = { 'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500} }

In [21]:
sample_dict['emp3']['salary']=8500

In [22]:
sample_dict

{'emp1': {'name': 'John', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

9. Write a program to copy elements 43 and 54 from the following tuple into a
new tuple. Given:
tuple1 = (10, 20, 43, 54, 56, 68)

In [27]:
tuple1 = (10, 20, 43, 54, 56, 68)

In [29]:
tuple2 = tuple1[2:4]
print(tuple2)

(43, 54)

10. Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [25]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)

In [26]:
tuple1.count(50)

3